<%- include("partials/header.ejs") %>

<div class="checkList">
    <div class="listTitle">
        <h2>Work List</h2>
    </div>
    <div class="list">
        <div class="item">
            <input type="checkbox">
            <p>Finish Todolist</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Python</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn CSS</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn PowerBI</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Flutter</p>
        </div>
        <div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Finish Todolist</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Python</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn CSS</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn PowerBI</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Flutter</p>
        </div>
        <div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Finish Todolist</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Python</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn CSS</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn PowerBI</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Flutter</p>
        </div>
        <div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Finish Todolist</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Python</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn CSS</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn PowerBI</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Flutter</p>
        </div>
        <div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Finish Todolist</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Python</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn CSS</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn PowerBI</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Flutter</p>
        </div>
        <div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Finish Todolist</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Python</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn CSS</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn PowerBI</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Flutter</p>
        </div>
        <div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div><div class="item">
            <input type="checkbox">
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Finish Todolist</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Python</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn CSS</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn PowerBI</p>
        </div>
        <div class="item">
            <input type="checkbox">
            <p>Learn Flutter</p>
        </div>
        <% if (locals.addlist) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= addlist %></p>
            </div>
        <% } else { %>
            <div class="item">
                <input type="checkbox">
                <p></p>
            </div>
        <% } %>
        <form action="/addWorkList" class="addItem" method="POST">
            <input type="text" name="addCheckList" placeholder="New Item">
            <input type="submit" value="+">
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %>